.popup__container {
  margin: calc(50vh - 330px/2) auto;
  padding: 34px 36px 37px;
  max-width: 358px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 767px) {
  .popup__container {
    margin: 123px auto;
    max-width: 238px;
    padding: 25px 22px;
    margin: calc(50vh - 322px/2) auto;
  }
}
